/*
#fc445 red 
#3feee6 bright teal 
#55bcc9 muted teal 
#97caef muted dark blue 
#cafafe muted light blue
#1a1a1d dark gray
*/

/*
#05386B dark blue 
#379683 muted dark green 
#5cdb95 bright green 
#8ee4af muted bright green 
#edf5e1 off white
*/

.cm-s-editor {
	font-size: 1em;
	line-height: 1em;
	font-family: 'Permanent Marker', monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: transparent !important;
	color: #edf5e1 !important;
	width: 100%;
}

.cm-s-editor .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-editor .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #fdfdfd;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-editor div.CodeMirror-cursor {
	border-left: 3px solid #181818;
}
.cm-s-editor .CodeMirror-activeline-background {
	background: #FFFF0D;
}
.cm-s-editor .CodeMirror-selected {
	background: #b7dce8;
}
.cm-s-editor .cm-comment {
	color: #22a21f;
	background: #dbf3cd;
}
.cm-s-editor .cm-keyword {
	color: #379683;
}
.cm-s-editor .cm-string {
	color: #5cdb95;
}

.cm-s-editor .cm-string-2 {
	color: #8ee4af;
}
.cm-s-editor .cm-variable {
	color: #db8a5c;
}
.cm-s-editor .cm-variable-2 {
	color: #379683;
}
.cm-s-editor .cm-property {
	color: #edf5e1;
}
.cm-s-editor .cm-atom {
	color: null;
}
.cm-s-editor .cm-number {
	color: null;
}
.cm-s-editor .cm-operator {
	color: #379683;
}
.cm-s-editor .CodeMirror-linenumber {
	color: #22a21f;
}
