.cm-s-infoEditor {
	font-size: 1em;
	line-height: 1.5em;
	font-family: monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: transparent;
	color: #333;
}
.cm-s-infoEditor .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-infoEditor .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #ffd513;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-infoEditor div.CodeMirror-cursor {
	border-left: 3px solid #333333;
}
.cm-s-infoEditor .CodeMirror-activeline-background {
	background: #333333;
}
.cm-s-infoEditor .CodeMirror-selected {
	background: #ffffff;
}

/*comments*/
.cm-s-infoEditor .cm-comment {
	color: #333;
}

/*strings*/
.cm-s-infoEditor .cm-string {
	color: #333;
  font-weight: bold;
}

.cm-s-infoEditor .cm-number {
	color: #888888;
}
.cm-s-infoEditor .cm-atom {
	color: #888888;
}

/*keywords*/
.cm-s-infoEditor .cm-keyword {
	color: #333;
}

/*variables*/
.cm-s-infoEditor .cm-variable {
	color: #333;
  font-weight: bold;
}

/*definitions*/
.cm-s-infoEditor .cm-def {
	font-style: italic;
  font-weight: bold;
	color: #333;
}

/*secondary variables*/
.cm-s-infoEditor .cm-variable-2 {
	color: #333;
  font-weight: bold;
}

/*properties*/
.cm-s-infoEditor .cm-property {
	color: #333;
  font-weight: bold;
}

/*operators*/
.cm-s-infoEditor .cm-operator {
	color: #333;
}

/*line number*/
.cm-s-infoEditor .CodeMirror-linenumber {
	color: #ddab14;
}
