.App {
}

.react-codemirror2 {
  width: 100%;
}

.CodeMirror {
  height: 100% !important;
  width: 100% !important;
}

.CodeMirror .cm-url{
  color: #00face;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 1em;
}

.CodeMirror .cm-url:hover{
  color: #ff00ae;
  font-size: 1.1em;
}

.App-logo {
  animation: App-logo-spin infinite 2000ms linear;
  height: 80px;
}

.glitch-appear {
  opacity: 1;
}

.glitch-appear.glitch-appear-active {
  opacity: 1;
  animation-duration: 2000ms;
  animation-name: glitchEnter;
}

@keyframes glitchEnter {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}

/*.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/