* {
  box-sizing: border-box;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

/*
#fc445 red 
#3feee6 bright teal 
#55bcc9 muted teal 
#97caef muted dark blue 
#cafafe muted light blue
#1a1a1d dark gray
*/

/*
#05386B dark blue 
#379683 muted dark green 
#5cdb95 bright green 
#8ee4af muted bright green 
#edf5e1 off white
*/
